name: nix

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/flakehub-cache-action@main
      - run: nix flake check
      - run: nix build .#nixosConfigurations.zeus.config.system.build.toplevel -o result-toplevel
      - run: nix build .#zeus-installer-iso -o result-iso
      - uses: actions/upload-artifact@v4
        with:
          name: zeus-installer-iso
          path: result-iso/iso/*.iso
